html{
    background-color: lightblue;
    margin: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;

}

h1{
    background-color: lightpink;
    color: white;
    font-size: 50px;
    display: block;
    text-align: center;
    padding: 30px;
    margin: 0px;
    
    
}


li{
    background-color:white;
    color: lightcoral;
    padding: 15px;
    margin: 0px;
    display: inline-block;
}

a{
    display:inline;
    color:lightcoral;
}